#contenedor
{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #f8e3c6 ;
    height: 100%;
}

#cuadro
{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    height: 100%;
    flex-basis: 100%;
    border: 2px white;
}